@mixin flexCenter ( $align, $justify, $direction ) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin fontStyle ($family, $size) {
  font-family: $family;
  font-size: $size;
}

/* Media Queries */

@mixin screen-base {
  @media (min-width: 450px) { @content; }

}@mixin screen-sm {
  @media (min-width: 600px) { @content; }

}@mixin screen-md {
  @media (min-width: 900px) { @content; }

}@mixin screen-lg {
  @media (min-width: 1200px) { @content; }

}@mixin screen-xl {
  @media (min-width: 1800px) { @content; }
}

