* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;

  ::-webkit-scrollbar { width: 0; }
  overflow: -moz-scrollbars-none;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  font-family: 'roboto';
  background: $primary;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}

span {
  display: flex;
  align-items: center;
}

i {
  cursor: pointer;
}

a {
  color: $text-dark;
  text-decoration: none;
}

li, ul {
  text-decoration: none;
}

input {
  border: none;
  background: none;
}
