$text-dark: #1c1d1f;
$text-light: #696c6d;
$border: #dee2e6;
$bg-light: #f4f4f4;
$brown: #ce8460;
$white: #fff;
$indigo:   #667eea;

/* Fonts */

$libre: 'Libre Bodoni';
$garamond: 'Eb garamond';
$roboto: 'Roboto';
$inconsolata: 'Inconsolata';
$oswald: 'Oswald';
$dance: 'Dancing script';
$source: 'Source Sans Pro';
$nato: 'Noto Sans JP'
