$primary: #FFFDFA;
$secoundary: #da4453;

$text-dark: #1c1d1f;
$text-light: #696c6d;
$border: #dee2e6;

$indigo: #667eea;
$success: #388e3c;
$black: #1d1d1d;

/* Fonts */

$oswald: 'Oswald';
$raleway: 'raleway';
$roboto: 'Roboto';
