$text-dark: #1c1d1f;
$text-light: #696c6d;
$border: #dee2e6;

$indigo: #667eea;

$brown: #ce8460;
$light-brown: #f7f4f0;

$white: #fff;
$bg-light: #f4f4f4;

$pink: #ef4767;
$error: #ff3333;

/* Fonts */

$libre: 'Libre Bodoni';
$roboto: 'Roboto';
$oswald: 'Oswald';
$source: 'Source Sans Pro';
$work: 'work sans';
